# Unity caches
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# WebGL build folder
WebGLBuild/
Build_WebGL/

# Visual Studio / IDE
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Misc / OS
.DS_Store
Thumbs.db

# Optional caches/artifacts
[Bb]uildOutput/
[Aa]sset[Ss]tore/

# JetBrains rider editor plugin
/Assets/Plugins/Editor/JetBrains*
